body {
    background-color: powderblue;

}
h1 {
    color: #c5e0a1;
    font-family: "Bookman";
    font-style: italic;
}
p {
    color: #c5e0a1;
}

.background{
    display: block;
    margin: auto;
    max-height: 90%;
    max-width: 90%;
  }
